*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml

# datasets
combined_all_data_*.nc
global_streams_simplified.gpkg
streamflow_plots_cache
v2-master-table.parquet
v2-countries-table.parquet
routing-configs/