*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/geoglows_dashboard/workspaces/app_workspace/combined_all_data_101.nc
tethysapp/geoglows_dashboard/workspaces/app_workspace/v2-master-table.parquet
tethysapp/geoglows_dashboard/workspaces/app_workspace/global_streams_simplified.gpkg
tethysapp/geoglows_dashboard/workspaces/app_workspace/streamflow_plots_cache