{% extends "tethys_apps/app_header_content.html" %}
{% load tethys_gizmos static %}

{% block app_content %}
<div class="container-fluid" id="outer-container">
  <div class="row" style="height:5%">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" id="stream-tab">Streamflow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="other-tab">Other</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="height:95%">
    <div class="col-md-7">
        <div class="card h-100">
        <div class="card-header">
            <div class="row">
              <div class="col-md-4" id="country-select">
                  <label>Country: </label>
                  <select id="country-selector"></select>
              </div>
              <div class="col-md-4">
                  <div class="input-group rounded">
                  <input type="search" class="form-control rounded" id="reach-id-input" placeholder="Search Reach ID" aria-label="Search" aria-describedby="search-addon" />
                  <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                  </span>
                  </div>
              </div>
              <div class="col-md-4" id="month-picker-div">
                <label>Month: </label>
                <input class="date-own form-control" id="month-picker" type="text" value="2023-05-01">
              </div>
            </div>
        </div>
        <div class="card-body"><div id="leaflet-map"></div></div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card h-50 plot-card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-4">
                <label>Chart: </label>
                <select class="plot-select"></select>
              </div>

              <div class="col-md-4">
                <label>Year: </label>
                <input class="date-own form-control year-picker" type="text" placeholder="Select a Year" value="2023">
              </div>
              
              <div class="col-md-4">
                <label>Options: </label>
                <select class="year-select">
                  <option value="calendar-year">Calendar Year</option>
                  <option value="water-year">Water Year</option>
                  <option value="last-12-months">Last 12 Months</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-body h-100">
              <div class="spinner">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <div class="plot-div"></div>
          </div>
        </div>
        <div class="card h-50 plot-card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-4">
                <label>Chart: </label>
                <select class="plot-select"></select>
              </div>

              <div class="col-md-4">
                <label>Year: </label>
                <input class="date-own form-control year-picker" type="text" placeholder="Select a Year" value="2023">
              </div>
              
              <div class="col-md-4">
                <label>Options: </label>
                <select class="year-select">
                  <option value="calendar-year">Calendar Year</option>
                  <option value="water-year">Water Year</option>
                  <option value="last-12-months">Last 12 Months</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-body h-100">
              <div class="spinner">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <div class="plot-div"></div>
          </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link href="{% static 'geoglows_dashboard/css/home.css' %}" rel="stylesheet"/>
{% endblock %}


{% block global_scripts %}
  {{ block.super }}
  <script>
    let URL_find_reach_id = "{% url 'geoglows_dashboard:find_reach_id' %}"
    let URL_getAvailableDates = "{% url 'geoglows_dashboard:get_available_dates' %}";
    let URL_getForecastData = "{% url 'geoglows_dashboard:get_forecast_data' %}";
    let URL_getHistoricalData = "{% url 'geoglows_dashboard:get_historical_data' %}";
    let URL_getAnnualDischarge =  "{% url 'geoglows_dashboard:get_annual_discharge' %}";
    let URL_updateFlowRegime = "{% url 'geoglows_dashboard:update_flow_regime' %}";
    let URL_getGEEPlot = "{% url 'geoglows_dashboard:get_gee_plot' %}";
    let URL_getCountryDryLevel = "{% url 'geoglows_dashboard:get_country_dry_level' %}";
  </script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet@3.0.11/dist/esri-leaflet.js" integrity="sha512-qSE34Lz9JHdaPt3AZsi6L3dcqYHO9nnQEIxfrkgrRqqe+R0DPuAMu+j2vlb92zPka9O+XHZV4+9G5/rHT5ADsQ==" crossorigin=""></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
  <!-- Load Esri Leaflet Vector from CDN -->
  <script src="https://unpkg.com/esri-leaflet-vector@4.1.0/dist/esri-leaflet-vector.js" crossorigin=""></script>
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
  <!-- Leaflet Draw API-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'geoglows_dashboard/js/home.js' %}" type="text/javascript"></script>
  <!-- Boostrap Datepicker-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}