#inner-app-content {
    height: calc(100vh - 50px);
}

#outer-container {
    height: 100%;
    color:white;
}

.nav {
    background-color: #9EB384;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: white;
}

.nav-link.active {
    background-color: #435334;
    color: white;
}

.card-header {
    background-color: #9EB384;
    text-align: center;
}

.card-body {
    padding: 0 0;
}

select {
    width: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 0 10px;
    background-color: #f7f7f7; /* Set background color */
    color: #333;
}

.input-group {
    width: 70%;
}

#leaflet-map {
    height: 100%;
}

.spinner {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.plot-container {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#yearpicker {
    width: 70%;
    display: inline-block;
}
