#inner-app-content {
    height: calc(100vh - 50px);
}

#outer-container {
    height: 100%;
    color:white;
}

.nav {
    background-color: #9EB384;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: white;
}

.nav-link.active {
    background-color: #435334;
    color: white;
}

.card-header {
    background-color: #9EB384;
    text-align: center;
}

.card-body {
    padding: 0 0;
}

select {
    width: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 0 10px;
    background-color: #f7f7f7; /* Set background color */
    color: #333;
}

.input-group {
    width: 70%;
}

#leaflet-map {
    height: 100%;
}

.spinner {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.plot-div {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.yearpicker {
    width: 70%;
    display: inline-block;
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.disabled-select {
    color: #808080;  /* Gray text color */
    background-color: #f2f2f2;  /* Light gray background color */
    cursor: not-allowed;  /* Set the cursor to not-allowed */
  }
